* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  background-image: linear-gradient(
    to top left,
    rgb(3, 65, 51),
    rgb(194, 223, 161)
  );
}

.row {
  padding: 4px;
}

.form-control {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.form-control:focus {
  border-color: rgba(199, 199, 199, 1) !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.alert-text {
  padding-top: 2px;
  color: red;
  display: none;
}

.temperature {
  font-weight: 500;
  font-size: 1.5rem;
}

.card {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 2px 2px rgba(0, 0, 0, 0.11);
  background-color: white;
}
